@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nanum Gothic', sans-serif;
  }

  /* 스크롤바 스타일링 */
  body::-webkit-scrollbar {
    @apply w-1.5
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-main-400 rounded-lg hover:bg-main-500 active:bg-main-600
  }
  body::-webkit-scrollbar-track {
    @apply bg-slate-200
  }

  /*  */
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main-500;
  }

  /* 포스터 hover시 나타나는 글자 4라인 제한 */
  .poster-description {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
}

@layer utilities {
  /* "translate"를 이용한 센터 정렬 */
  .translate-center {
    transform: translate3d(-50%, -50%, 0);
  }
}